@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Seaweed+Script&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boxdiv
{
  width: 48%;
  margin: 12px;
  padding: 20px;
  float: left;
  border: 3px dashed blueviolet;
  background-color: lightyellow;
}

table, tr, th, td
{
  border: 1px solid lightslategrey;
  width: 100%;
  padding: 8px;
  background-color: lightpink;
  
  font-family: 'Gochi Hand', cursive;
}

*
{
  padding: 4px;
}

@media screen and (max-width: 1200px) {
  .boxdiv
  {
    float: none;
    width: 100%;
    margin: 10px;
  }

  textarea
  {
    width: 100%;
  }

  button
  {
    display: flex;
    width: 100%;
    text-align: center;
  }
}

.dateText
{
  font-family: 'Seaweed Script', cursive;
  font-size: x-large;
}

th
{
  text-align: center; 
  font-size: large;
}

h2
{
  text-align: center;
  font-family: 'Seaweed Script', cursive;
}

body
{
  background-image: url("/src/bg.jpg");
}

